{% extends "./layout/main.html" %}

{% block content %}

<div class="jumbotron bg-white">
    <!-- <h3>{{Title}}</h3> -->
    <div role="main" class="container row"></main>

      <div class="card">
        <div class="card-header">
          {{ Title }}
        </div>
        <div class="card-body">
          <!-- <h5 class="card-title">Main menu</h5> -->

          <ul class="list-group">
            <li class="list-group-item">
              <a href="/products" class="card-link text-dark">Products</a>
            </li>
            <li class="list-group-item">
              <a href="/stock" class="card-link text-dark">Stock</a>
            </li>
            <li class="list-group-item">
              <a href="/transactions" class="card-link text-dark">Transactions</a>
            </li>
            <li class="list-group-item">
              <a href="/supplers" class="card-link text-dark">Suppliers</a>
            </li>
            <li class="list-group-item">
              <a href="/clients" class="card-link text-dark">Clients</a>
            </li>
            <li class="list-group-item">
              <a href="/client_types" class="card-link text-dark">Client types</a>
            </li>
          </ul>

        </div>
      </div>

    </div>
  </div>
{% endblock %}